.heading {
  color: #9004fc;
  text-decoration: solid;
}

.spacing-body {
  margin: 10px 50px;
}

.spacing-heading {
  margin: 20px 0 7px 50px;
}

.icon-spacing {
  margin-right: 10px;
}

.font {
  font-size: 20px;
}
