.box {
  background-color: aliceblue;
  margin: 10px;
}
.item {
  box-sizing: border-box;
  padding: 30px;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item p {
  font-weight: bold;
  font-size: 18px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
